/*comments*/

*, *:before, *:after {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
            box-sizing:border-box;
}

body {
    background-color: rgba(255,255,255);
    margin:0;
}

main {
    margin: 0 auto;
    width: 1170px;
    display: block;
}

article {
    float: left;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 74%;
    overflow: hidden;
}

section {
    background-color:#eee;
    border: 1px solid #ccc;
    padding: 20px;
}

aside {
    float: right;
    padding-left: 15px;
    width: 25%;
    display: block;
    overflow: hidden;
    position:relative;
}

menu {
    padding: 0;
}