/*comments*/

*, *:before, *:after {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
            box-sizing:border-box;
}

body { 
    background-color: rgba(255,255,255);
    margin:0;
}

.form-profile {
    width: 100%;
    border: 1px solid #ccc;
    height: 200px;
    background-color: #373737;
}

.form-profile img {
    float: left;
    margin: 10px;
}

.form-profile a {
    float: left;
    font: 36pt sans-serif;
    color: white;
}

nav {
    background-color: #eee;
    border: 1px solid #ddd;
	margin: 50px 0px 20px 0px;
    height: 56px;
}

nav ul li {
    float:left;
    margin-right:22px
}

main {
    margin: 0 auto;
    width: 1170px;
    display: block;
}

article {
    float: left;
    margin-bottom: 30px;
    padding: 0 15px;
    width: 74%;
    overflow: hidden;
}

section {
    background-color:#eee;
    border: 1px solid #ccc;
    padding: 20px;
	margin: 20px 0px 0px 0px;
}

aside {
    float: right;
    padding-left: 15px;
    width: 25%;
    display: block;
    overflow: hidden;
    position:relative;
}

menu {
    padding: 0;
}

footer {
    background-color: #373737;
    clear: both;
    color: #fff;
	position: relative;
	height: 30px;
}

footer small a {
    color: #eff;
}

.form-row {
	margin-bottom: 8px;
	overflow: hidden;
}
.form-row input {
	float: right;
	height: 19px;
	line-height: 19px;
	margin: 0px;
	padding: 0px 5px;
	width: 287px;
	border: 1px solid #ABADB3;
}

.reg-form {
	width: 416px;
	margin: 0 auto;
}

.form-row textarea {
	height: 90px;
    line-height: 16px;
    font-size: 12px;
    padding: 0px 5px;
    width: 404px;
    border: 1px solid #ABADB3;
}

.form-row input[type=submit] {
	padding:5px;
	height:25px;
	width:100%;
	line-height: 10px;
	background: #337AB7;
	color:white;
}

.form-row input[type=submit]:hover {
	background:#286090;
}